<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Store your favorite movies</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="js/moviesApp.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body ng-app="moviesApp">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="movieHeader">
                    <img src="//assets.viaplay.tv/frontend-2016092701/images/header-logo-large.png" alt="Viaplay Home" width="144" height="35" />
                </div>
                <ul class="nav navbar-nav">

                </ul>
            </div>
        </nav>        
        <div class="container">
            <div class="bodyBackground" ng-controller="movieController" ng-init="clickMovie('titanic-1997')">     
                <table class="table">
                    <thead>
                        <tr class="movieHeaderBackground" style="background-image: url('{{backgoundPix}}');">
                            <th>
                                <div  class="headerImg">
                                    <img class="imgPoster" ng-src="{{headerMovie.content['images']['boxart']['url']}}" />
                                    <div class="row">
                                        <div class="col-xs-6 movieTitle">
                                            {{headerMovie.content['title']}}
                                        </div>
                                    </div>
                                    <div class='summary'>
                                        {{headerMovie._links['viaplay:genres']['0']['title']}}&nbsp/&nbsp{{headerMovie._links['viaplay:genres']['1']['title']}}
                                        &nbsp|&nbsp{{headerMovie.content['production']['year']}}&nbsp|&nbsp{{headerMovie.content['duration']['readable']}}
                                        &nbsp|&nbsp
                                        <span class='flags'>
                                            <span class="flag">
                                                {{headerMovie.system['flags']['0']}}
                                            </span>
                                            <span class="flag">
                                                {{headerMovie.content['parentalRating']}} år
                                            </span>
                                        </span>
                                        <div class="middleBlock">
                                            <span class="imdbSym"></span>
                                            <span class='imdbLink'>
                                                {{headerMovie.content['imdb']['rating']}}
                                            </span>
                                            <span class='imdbDesc'>
                                                från {{headerMovie.content['imdb']['votes']}}
                                            </span>                                                                                      
                                        </div>    
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 movieDetail"> 
                                            {{headerMovie.content['synopsis']}}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="actorDiv col-xs-6">
                                            <div class="actorName">Skådespelare:</div>
                                            <div class="actor" ng-repeat="actor in actors">
                                                {{actor}},&nbsp
                                            </div>           
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="actorName">Regissör:</div>
                                            <div class="actor" ng-repeat="director in directors">
                                                {{director}}&nbsp
                                            </div>           
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="actorName">Land:</div>
                                            <div class="actor" ng-repeat="country in countries">
                                                {{country}}
                                            </div>           
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>            
                </table>
                <div class="row">
                    <span class="similerMovie">Liknande filmer</span>
                    <div ng-repeat="movie in movies">
                        <div  class="col-xs-2">
                            <a class="similerMovieImg" ng-click="clickMovie(movie.publicPath)">
                                <img style="width: 186px;" ng-src="{{movie.content['images']['boxart']['url']}}" />
                            </a>
                        </div>
                    </div>
                </div>                      
            </div>
        </div>
    </body>
</html>




